<div class="users-wrapper">

  <div class="message">
    <div class="text" [class.visible]="message">
      <mat-icon>check</mat-icon>
      <span>{{ message }}</span>
    </div>
  </div>

  <div class="btnNew">
    <button (click)="toggleForm()">Adicionar usuário</button>
  </div>

  <div class="form" *ngIf="showForm">
    <label>Email</label>
    <input type="email" [(ngModel)]="newUser.email" />

    <label>Cargo</label>
    <select [(ngModel)]="newUser.role">
      <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
    </select>

    <button (click)="addUser()">Salvar</button>
  </div>

  <div *ngIf="!showForm">
    <div class="users-table" *ngIf="invites.length > 0">
      <h1>Convites enviados</h1>
      <br>
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Criado em</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invite of invites">
            <td>{{ invite.email }}</td>
            <td>{{ invite.created_at | date:'dd/MM/yyyy HH:mm':'UTC' }}</td>
            <td>
              <button class="delete-btn">
                <mat-icon>delete</mat-icon>
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <hr>
    </div>


    <div class="users-table">
      <h1>Usuários ativos</h1>
      <br>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Nome de usuário</th>
            <th>Email</th>
            <th>Cargo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.profile.role.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
