@use '../../styles/variables' as *;

.layout-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
  background: $white;
  color: $text-color;
  padding: 1rem;
  box-shadow: 5px 5px 5px rgba(5, 5, 5, 0.5);

  .logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: $text-color;
    margin-bottom: 2rem;
  }

  .menu a {
    padding: 9px;
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 1rem;
    color: $text-color;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;

    &.active,
    &:hover {
      background-color: $text-color;
      color: $white;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .toolbar {
    background: $white;
    color: $text-color;
    box-shadow: 0px 3px 8px rgba(5, 5, 5, 0.5);
    z-index: 10;
    position: relative; // necessário para o z-index funcionar

    .menu-button {
      margin-right: 1rem;
    }

    .toolbar-title {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }

  .content {
    flex: 1;
    padding: 1.5rem;
    background: $second-white;
    color: $text-color;
  }
}
